{% extends "base.html" %}
{% load static %}
    {% block content %}
        

        <div>
            
            <!-- <div class="left box2 pad"><h1>Welcome to <span class="myColor">Hojigari</span> Furniture. balsdslk lasdkfl sasdlf</h1></div> -->
            <div class="right box1"><img src="{% static 'images/backgroundImg.jpg' %}" class="rounded float-start img"></div>
            
        </div>

        <div class="afterBox"></div>
       <h1 class="pad">Welcome to <span class="myColor">Hojigari</span> Furniture.</h1>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias repellat eos <br />
        veniam, sit quam illo debitis laboriosam veritatis exercitationem <br />
        reprehenderit id vero molestiae dolorum mollitia ut pariatur soluta accusantium facere.</p>

        <button  class="btn myBtn" type="button">View Designs</button>

    {% endblock content %}